# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
.env.*

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
*.db
*.bak
*.tmp

# Test
htmlcov/
.coverage
.tox/

# mypy
.mypy_cache/
.dmypy.json

# pytest
.cache/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyre
.pyre/
